.navbar{
    background-color: #b2b3b596 !important;
    margin-bottom: 0;
    float: none !important;
}


/* start all articles page */


.all-articles-show{
   height: auto;
    position: relative;
    padding-top: 80px;
    
}
.all-articles-show .all-articles-content{
    height: auto;
     background-image: url(../images/imgs/articles.jpg);
    background-repeat: no-repeat;
     -webkit-background-size: cover;
     -moz-background-size: cover;
     -o-background-size: cover;
             background-size: cover; 
    background-attachment: fixed;
}
.all-articles-show .all-articles-content .container{
    padding: 50px 0;
}
.all-articles-show .container .row > div:not(:first-child),
.all-Works-show .container .row > div:not(:first-child){
    display: none;
}

/* end all articles page */

/* start all works page */
.all-Works-show{
    padding-top: 90px;
    height: auto;
     background-image: url(../images/imgs/bg30-Ar1web.gif);
     
}
.all-Works-show .container{
     
}
.all-Works-show .row{
   margin-top: 140px;
}
.all-Works-show .container{
    -webkit-transform: translateX(-1300px);
    -moz-transform: translateX(-1300px);
    -o-transform: translateX(-1300px);
            transform: translateX(-1300px);
}
/* end all works page */

/* breadcrumb */

.breadcrumb li{
    font-size: 30px;
    color: #000 !important;
} 
.breadcrumb li:before{
    content: "|";
    font-size: 45px;
    color: #3aade6; 
    margin-left: 10px;
}
/* end breadcrumb */
/**/

.one-article-section{
     padding-top: 98px;
    padding-bottom: 50px;
    background-image: url(../images/imgs/bg30-Ar1web.gif);
   
    
}
.one-article-section .container{
    padding-top: 130px;
}
.one-article-section .content{
    background-color: #FFF;
    width: 75%;
    min-height: 670px;
    border-radius: 20px;
    box-shadow: 2px 2px 10px #6b6565;
        padding-top: 40px;
    
    
    -webkit-transform: translateY(350px);
    -moz-transform: translateY(350px);
    -o-transform: translateY(350px);
            transform: translateY(350px);
}
.one-article-section .content img{
    width: 75%;
    height: 200px;
     box-shadow: 1px 1px 10px #6b6565;
     border-radius: inherit;
       margin-bottom: 37px;
}
.one-article-section .content p{
        margin: 20px;
    font-size: 18px;
    line-height: 1.7;
    
}
@media(max-width:990px){
   
}
/* start one work show */
.app-show{
      height: 400px;
      background-color: #FFF;      
 }
.app-show .app-image{
                
   height: 283px;
   width: 366px;
             
   -webkit-transform: translateX(-300px) rotate(-90deg);
   -moz-transform: translateX(-300px) rotate(-90deg);
   -o-transform: translateX(-300px) rotate(-90deg);
               transform: translateX(-300px) rotate(-90deg);
                
}
.app-show .app-image img{
    
  height: 100%;
  width: 100%;
}
.work-details-section .details-content{
    
    padding: 30px 0;
       min-height: 150px;
      background-image: url(../images/imgs/details-bg.png);
      background-repeat: no-repeat;
     -webkit-background-size: cover;
     -moz-background-size: cover;
     -o-background-size: cover;
             background-size: cover; 
    
}
.work-details-section .details{
    
    color: #FFF;
    font-size: 14px;
}
.app-show .breadcrumb li:before,
.work-details-section .breadcrumb li:before {
    
    font-size: 30px;
    
}
/* end one work */
